<a href="https://colab.research.google.com/github/Naeem-786/Learn-Python/blob/main/Lec_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

if else statement

In [ ]:
x=10
y=20
if x==5 or y==20:
  print(y)

20

In [ ]:
x=10
y=20
if x<=20 and y>=20:
  print(x)

10

In [ ]:
if x>=5 or y<=15:
  print(x)
else:
  print(y)

10

**Function**
functin is defined with keyword "def"

In [ ]:
def func():
  print("this is my first functin")
func()  #retun a function without indentation

this is my first functin

In [ ]:
def multiply(y):
  x = y * 10
  return x
multiply(2)

20

In [ ]:
def add(x):
  adds = x + 2
  return adds
add(5)

7

In [ ]:
def sum(a, b): # these are parameters which are assigned inside bracket
  sumValue = a + b
  return sumValue
  '''return sumValue: This line is a return statement. When a function encounters a return statement, it immediately exits, sending the specified value back to the caller.
Code after return: Any code placed after a return statement within a function will never be executed.'''
''' to make this code functional, calls the function outside the return statement.'''
result = sum(10, 20) # these two values inside brackets are arguments
print("the sum of two numbers are", result)

the sum of two numbers are 30

**Assigning a List to function using for loop**

In [ ]:
def fresFruit(fruits):
  for x in fruits:
    print(x)

In [ ]:
winterFuit = ["apple", "orange", "gua"] # declare a list
fresFruit(winterFuit) #assigned list to already defined function which display all elements inside list using for loops

apple
orange
gua

Some python Buit in Functions

In [ ]:
max(2, 44, -1)

44

In [ ]:
min(2, 44, -1)

-1

In [ ]:
abs(-2) #absolute function which return positive value

2

**List** it is very famous and flexible feature in python, i can support every type of data in a single list. ** to declare it star with [] bracket , separated values

In [ ]:
ls=[2, 5.4, 'Ali Moaaz']
ls[0] # it'll show 1st index of list

2

In [ ]:
ls[0:1] #is tried here to acces a range of list elements, and last elements of range will be excluded, n-1 elements will be shown

[2]

In [ ]:
ls=[2, 5.4, 'Ali Moaaz']
ls[0:2] # it excluded last element

[2, 5.4]

In [ ]:
ls.append('M.Shees') #to append any new element in the list at last
len(ls) # it shows the total elements in list
ls

[2, 5.4, 'Ali Moaaz', 'M.Shees', 'M.Shees', 'M.Shees']

In [ ]:
[2, 5.4, 'Ali Moaaz', 'M.Shees']

[2, 5.4, 'Ali Moaaz', 'M.Shees']

In [ ]:
ls=[2, 5.4, 'Ali Moaaz', 'M.Shees']
ls

[2, 5.4, 'Ali Moaaz', 'M.Shees']

In [ ]:
ls[1]

5.4

In [ ]:
ls[3]

'M.Shees'

**Split funtion**

In [ ]:
("'Naeem', 'Shees', 'Ali', 'Moaaz', '1'".split())

["'Naeem',", "'Shees',", "'Ali',", "'Moaaz',", "'1'"]

**Addition**

In [ ]:
add = (2,3,4,1,0,1.5)
sum(add)

11.5

In [ ]:
add = (2,3,4,1,0,1.5) #this is tuple
add
list =[3,2.5,6,1] # this list generated
list.extend(add)
add
add[0]

2

In [ ]:
tuples = (2,3,1,4)
tuples

(2, 3, 1, 4)

Range

In [ ]:
range(3)

range(0, 3)

In [ ]:
x=range(4)
x

range(0, 4)

**Tupels**

In [ ]:
myTuple = (1,2,3,4) #tuples are mutable, if it is declared it can't be changed but list is immutable
myTuple

(1, 2, 3, 4)

Dictionary

In [ ]:
myDict = {"key1":"value1", "key2":"value2"} # it is define as key with its value, its canbe changed or add
myDict

{'key1': 'value1', 'key2': 'value2'}

In [ ]:
myDict = {"key1":"value1", "key2":"value2"}
myDict['key2'] # fetch value at key2

'value2'

In [ ]:
myDict = {"key1":"value1", "key2":"value2"}
myDict['key3'] = 'value3' # add new key with value
myDict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [ ]:
myDict={'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}
myDict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [ ]:
myDict={'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}
myDict["key1"] #to fetch specific value

'value1'

Loops

In [ ]:
x=0
while(x<10):
  print(str(x) + ' Naeem') #first convert x into string using str() func
  x+=1

0 Naeem
1 Naeem
2 Naeem
3 Naeem
4 Naeem
5 Naeem
6 Naeem
7 Naeem
8 Naeem
9 Naeem

Importing Libraries
`Importing math libraries with different ways and their difference`

In [ ]:
''' Importing math libraries with different ways and their difference '''
import math
math.sqrt(16)

4.0

In [ ]:
# second way to import library which is standard and practical
import math as m
m. sqrt(25)

5.0

In [ ]:
import math #math library is not properly imported and showing error
sqrt(25)

NameError: name 'sqrt' is not defined

In [ ]:
from math import* # import* keyword import every func of math
sqrt(25)

5.0

In [ ]:
from math import*
floor(5.1) #floor round off the value

5

Classes

In [ ]:
class car():
  def __init__(self, make, model):
    self.make = make,
    self.model = model,
  def carname(self):
    print(f"the car name {self.make}")

carMode = car('Honda', 'city')
carMode.carname()

the car name ('Honda',)

In [ ]:
class animal():
  def __init__(self, carnivorus, omnivorus): #pass the variales to class initialization
    self.carnivorus = carnivorus,
    self.omnivorus = omnivorus, #variables initialized with self keyword
  def newAnimal(self):
    print(f"The animal is belong to {self.carnivorus}")

animalClass = animal('vegetable like', 'mix food') #create a variable to assign class and its parameters
animalClass.newAnimal() #call the class

The animal is belong to ('vegetable like',)

In [1]:
## Numpy